@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* https://zippystarter.com/tools/shadcn-ui-theme-generator */
  :root {
    --background: 140 0% 100%;
    --foreground: 140 0% 10%;
    --card: 140 0% 100%;
    --card-foreground: 140 0% 15%;
    --popover: 140 0% 100%;
    --popover-foreground: 140 95% 10%;
    --primary: 140 12% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 140 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 102 10% 95%;
    --muted-foreground: 140 0% 40%;
    --accent: 102 10% 90%;
    --accent-foreground: 140 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 140 0% 100%;
    --border: 140 20% 82%;
    --input: 140 20% 50%;
    --ring: 140 12% 43%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 140 10% 13%;
    --foreground: 140 0% 100%;
    --card: 140 0% 10%;
    --card-foreground: 140 0% 100%;
    --popover: 140 10% 5%;
    --popover-foreground: 140 0% 100%;
    --primary: 140 12% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 140 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 102 10% 25%;
    --muted-foreground: 140 0% 65%;
    --accent: 102 10% 25%;
    --accent-foreground: 140 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 140 0% 100%;
    --border: 140 20% 50%;
    --input: 140 20% 50%;
    --ring: 140 12% 43%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
