/* readonly style */
.handsontable .htDimmed {
  color: inherit !important; /* Use the default text color */
  background-color: inherit !important; /* Keep the default background color */
}

.handsontable .wtHolder {
  overscroll-behavior: contain;
}
